<div>
  <form class="" (ngSubmit)='onSave()'>
    <div class="input-group">
      <label for="movie">Movie</label>
      <input type="text" id='movie' name="movie" value="">
    </div>

    <div class="input-group">
      <label for="review">Review</label>
      <input type="number" id='review' name="review" value="">
    </div>

    <div class="input-group">
      <label for="comment">Comment</label>
      <input type="text" id='comment' name="comment" value="">
    </div>

    <div class="input-group">
      <button type="submit" name="button">Save review</button>
    </div>
  </form>
</div>
